<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>workspace.openvpn.client</string>
    <key>RunAtLoad</key>
    <{{ 'true' if run_at_load else 'false' }}/>
    <key>KeepAlive</key>
    <{{ 'true' if keep_alive else 'false' }}/>
    <key>ProgramArguments</key>
    <array>
        <string>{{ openvpn_binary }}</string>
        <string>--config</string>
        <string>{{ vpn_config }}</string>
{%- if vpn_auth %}
        <string>--auth-user-pass</string>
        <string>{{ vpn_auth }}</string>
{%- endif %}
    </array>
    <key>StandardOutPath</key>
    <string>{{ log_path }}</string>
    <key>StandardErrorPath</key>
    <string>{{ log_path }}</string>
</dict>
</plist>