[Unit]
Description=LlamaServer %i
After=network.target

[Service]
Type=exec
ExecStart={{ playbook_dir }}/../projects/llama.cpp/build-%i/bin/llama-server \
    -m {{ llama_model_path }} \
    -c {{ llama_context_size }} \
    -ngl {{ llama_gpu_layers }} \
    -host {{ llama_server_host }} \
    -t {{ llama_threads }} \
    -fit off \
    -np {{ llama_parallel }} \
    -fa 1 \
    -no-mmap \
    -threads-http 1
Environment=LD_LIBRARY_PATH=/opt/intel/oneapi/compiler/latest/lib:{{ playbook_dir }}/../projects/llama.cpp/build-%i/lib
EnvironmentFile=%h/.config/llamaserver/llamaserver-%i.env
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
